[Unit]
Description=Rclone Sync Script
After=network.target

[Service]
ExecStart=/root/scripts/rclone-sync.sh
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
